.list {
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  list-style: none;
  font-size: 1rem;
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}