.history {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  list-style: none;
  font-size: 1rem;
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  margin-right: 1rem;
}