@import '../../styles/colors';

.nav {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid $primary-color;

  .title {
    a {
      color: $primary-color;
      font-size: 2rem;
    }
  }

  .links {
    a {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}