@import '../../styles/colors';

.form {
  display: flex;
}

.input {
  padding: .5rem 1rem;
  font-size: 1rem;
  background: $white-color;
  color: $black-color;
  font-weight: 400;
  border: 1px solid $black-color;
  outline: none;
}

.searchBar {
  width: 30rem;
  border-right: none;
}

@media only screen and (max-width: 520px) {
  .form {
    margin-top: 1rem;
  }
  .searchBar {
    width: 60vw;
    margin-right: 1rem;
  }
  .search {
    border: 1px solid $black-color;
    background: $white-color;
    color: $secondary-color;
  }
}