@import '../../styles/colors';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25vw;
  .imageLink {
    border: 5px solid $primary-color;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: none;
  }
  img {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    width: 100%;
    transition: all .2s;
  }
  .details {
    width: 100%;
    border: 5px solid $primary-color;
    border-top: none;
    padding: .5rem;
  }
  &:hover {
    img {
      opacity: .5;
    }
  }
}

@media only screen and (max-width: 520px) {
  .card {
    width: 90vw;
  }
}