.paintings {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 2.5rem;
  column-gap: 1rem;
}

@media only screen and (max-width: 520px) {
  .paintings {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
}