@import '../../styles/colors';

.image {
  width: 100%;
  margin-bottom: 2.5rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: $primary-color;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  p {
    font-style: italic;
  }
}

.description {
  font-size: .9rem;
  margin-bottom: 2rem;
}

.techniques {
  span {
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid $cold-color;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 520px) {
  .title {
    font-size: 1.5rem;
  }
  .details {
    flex-direction: column;
  }
  .painter {
    margin-bottom: .25rem;
  }
}